<a href="https://colab.research.google.com/github/thientam332/NLP/blob/main/tien%20xu%20ly/TienXuLy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Up load github

In [44]:
!git clone https://github.com/Vietanh239/monhoc_UIT.git

Cloning into 'monhoc_UIT'...
remote: Enumerating objects: 8, done.
remote: Counting objects: 100% (8/8), done.
remote: Compressing objects: 100% (7/7), done.
remote: Total 8 (delta 0), reused 5 (delta 0), pack-reused 0
Unpacking objects: 100% (8/8), done.


# Import thư viện

In [ ]:
import pandas as pd
import string
import nltk
from nltk.corpus import stopwords

In [ ]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [45]:
dataset=pd.read_csv('monhoc_UIT/IMDB_Dataset.csv',encoding="utf8")

In [46]:
dataset

                                                  review sentiment
0      One of the other reviewers has mentioned that ...  positive
1      A wonderful little production. <br /><br />The...  positive
2      I thought this was a wonderful way to spend ti...  positive
3      Basically there's a family where a little boy ...  negative
4      Petter Mattei's "Love in the Time of Money" is...  positive
...                                                  ...       ...
49995  I thought this movie did a down right good job...  positive
49996  Bad plot, bad dialogue, bad acting, idiotic di...  negative
49997  I am a Catholic taught in parochial elementary...  negative
49998  I'm going to have to disagree with the previou...  negative
49999  No one expects the Star Trek movies to be high...  negative

[50000 rows x 2 columns]

In [47]:

def process_text(text):
    
    #1 Xóa dấu chấm câu
    nopunc = [char for char in text if char not in string.punctuation]
    nopunc = ''.join(nopunc)    
    #2  Xóa Stop Words
    clean_words = [word for word in nopunc.split() if word.lower() not in stopwords.words('english')]
    #3 Trả về clean word
    return clean_words

In [48]:
data_process=dataset['review'].head().apply(process_text)
data_process

0    [One, reviewers, mentioned, watching, 1, Oz, e...
1    [wonderful, little, production, br, br, filmin...
2    [thought, wonderful, way, spend, time, hot, su...
3    [Basically, theres, family, little, boy, Jake,...
4    [Petter, Matteis, Love, Time, Money, visually,...
Name: review, dtype: object

In [49]:

imdb_review=dataset.iloc[:,0].values
imdb_sen=dataset.iloc[:,1].values